{% extends "header.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script src="{{ url_for('static', filename='js/radio_choose_inform_function.js') }}"></script>
</head>
<body onload="inform_function()">
    <form class="main-form" action="/function_methods">
        <div class="function-info">
            <p>Functions Information</p>
            <table>
                <tr>
                    <td>Function:</td>
                    <td>{{ function_info[0] }}</td>
                </tr>
                <tr>
                    <td>Expression:</td>
                    <td>{{ function_info[1] }}</td>
                </tr>
                <tr>
                    <td>Dimension:</td>
                    <td>{{ function_info[2] }}</td>
                </tr>
                <tr>
                    <td>Domain:</td>
                    <td>{{ function_info[3] }}</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>{{ function_info[4] }}</td>
                </tr>
                <tr>
                    <td>Best:</td>
                    <td>{{ function_info[5] }}</td>
                </tr>
                <tr>
                    <td>Constants:</td>
                    <td>{{ function_info[6] }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ function_info[7] }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="img-function">
                            <img src="http://latex.codecogs.com/svg.latex?{{ function_info[8] }}" border="0"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {% if function_info[2]|string == 'n' %}
        <div>
            <p>
                <label>Inform the number of dimensions to execute the function</label>
                <input type="number" name="dimensions" min="1" step="1" value="5">
            </p>
        </div>
        {% else %}
        <div>
            <p>
                <label>The function is where to execute.</label>
            </p>
        </div>
        {% endif %}
        <input type="hidden" name="function_name" value="{{ function_info[0] }}">
        <input type="hidden" name="function_latex" value="{{ function_info[8] }}">
        <input type="submit" name="submit_button" value="Next">
    </form>
</body>
{% endblock %}