{% extends "header.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script src="{{ url_for('static', filename='js/radio_choose.js') }}"></script>
</head>
<body onload="type_of_method_change_function()">
    <form class="main-form" action="/function_results">
        <div class="img-function">
            <img src="http://latex.codecogs.com/svg.latex?{{ function_latex }}" border="0"/>
        </div>
        <hr>

        <div>
            <input id="radio_type_of_method_1" type="radio" name="type_of_method" value="single" onchange="type_of_method_change_function()">
            <label>SINGLE</label>
            <input id="radio_type_of_method_2" type="radio" name="type_of_method" value="hybrid" onchange="type_of_method_change_function()">
            <label>HYBRID</label>
        </div>
        <hr>

        <div class="half">
            <div>
                <select id="method-selected-1" name="method_selected_1" onchange="type_of_method_change_function()">
                    <option disabled selected value> - select an option - </option>
                    <option>Genetic Algorithm</option>
                    <option>Simulated Annealing</option>
                </select>
            </div>
            <div>
                <select id="method-selected-2" name="method_selected_2" onchange="type_of_method_change_function()">
                    <option disabled selected value> - select an option - </option>
                    <option>Genetic Algorithm</option>
                    <option>Simulated Annealing</option>
                </select>
            </div>
        </div>

        <div class="half">
            <div id="ga-panel">
                <table>
                    <tr>
                        <td><label>Population Size</label></td>
                        <td><input type="number" name="population_ga" min="0" step="1" value="50"></td>
                    </tr><tr>
                        <td><label>Generation Count</label></td>
                        <td><input type="number" name="generation_ga" min="0" step="1" value="1000"></td>
                    </tr><tr>
                        <td><label>Crossover Rate</label></td>
                        <td><input type="number" name="crossover_ga" min="0" step="0.01" value="0.8"></td>
                    </tr><tr>
                        <td><label>Mutation Rate</label></td>
                        <td><input type="number" name="mutation_ga" min="0" step="0.01" value="0.05"></td>
                    </tr><tr>
                        <td><label>Elitism Rate</label></td>
                        <td><input type="number" name="elitism_ga" min="0" step="0.01" value="0.15"></td>
                    </tr>
                </table>
            </div>

            <div id="sa-panel">
                <table>
                    <tr>
                        <td><label>T</label></td>
                        <td><input type="number" name="t_sa" min="0" step="1" value="10000"></td>
                    </tr><tr>
                        <td><label>Alpha</label></td>
                        <td><input type="number" name="alpha_sa" min="0" step="0.001" value="0.99"></td>
                    </tr><tr>
                        <td><label>Tolerance</label></td>
                        <td><input type="number" name="tolerance_sa" min="1e-50" step="1e-10" value="1e-10"></td>
                    </tr><tr>
                        <td><label>Iterations</label></td>
                        <td><input type="number" name="iter_sa" min="0" step="1" value="50000"></td>
                    </tr>
                </table>
            </div>
        </div>

        <input type="hidden" name="function_name" value="{{ function_name }}">
        <input type="hidden" name="dimensions" value="{{ dimensions }}">

        <input type="submit" name="submit_button" value="Simulation">
        <input class="simulation-times" type="number" name="simulation_times" min="2" step="1" value="50">
        <input type="submit" name="submit_button" value="Execute Once">
    </form>
</body>
{% endblock %}