{% extends "header.html" %}
{% block content %}

<body>
    <div class="third">
        <div>
            <label>Instance Information</label>
            <table>
                <tr>
                    <td>Instance:</td>
                    <td>{{ instance }}</td>
                </tr>
            {% if type_of_problem =='vrp' %}
                <tr>
                    <td>Number of Customers:</td>
                    <td>{{ instance_info[0] }}</td>
                </tr>
                <tr>
                    <td>Min. Number of Vehicles:</td>
                    <td>{{ instance_info[1] }}</td>
                </tr>
                <tr>
                    <td>Capacity:</td>
                    <td>{{ instance_info[2] }}</td>
                </tr>
                <tr>
                    <td>Optimal:</td>
                    <td>{{ instance_info[3] }}</td>
                </tr>
                <tr>
                    <td>Benchmark:</td>
                    <td>{{ instance_info[4] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Number of Points:</td>
                    <td>{{ instance_info[0] }}</td>
                </tr>
                <tr>
                    <td>Optimal:</td>
                    <td>{{ instance_info[1] }}</td>
                </tr>
                <tr>
                    <td>Benchmark:</td>
                    <td>{{ instance_info[2] }}</td>
                </tr>
            {% endif %}
            </table>
        </div>

    {% if type_of_problem =='vrp' %}

        <div>
            <label>Coordinates of Customers</label>
            <object data="{{ url_for('static', filename='image/coord/'+instance.replace('.vrp','')+'-coords.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>

        <div>
            <label>Optimum Solution</label>
            <object data="{{ url_for('static', filename='image/Best Know/'+instance.replace('.vrp','')+'-best.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>

    {% else %}

        <div>
            <label>Coordinates of Points</label>
            <img src="{{ url_for('static', filename='image/coord/'+instance.replace('.tsp','')+'-coords.png') }}">
        </div>

        <div>
            <p>Optimal Solution</p>
            <object data="{{ url_for('static', filename='image/Best Know/'+instance.replace('.tsp','')+'-best.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>

    {% endif %}

    </div>

    {% if simulation_status == 'starting' %}

    <div>
        <label>Starting Simulation</label>
    </div>
    {% else %}

        {% if simulation_status == 'finish' %}
            {% set update_time = -1 %}
    <div>
        <p><label>Simulation Report</label></p>
        <table class="statistics-table">
            <thead>
                <tr>
                    <th>Statistics</th>
                    <th>Times(s)</th>
                    <th>Costs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Minimum</td>
                    <td>{{  '%.2f'%minimum[0] }}</td>
                    <td>{{  '%.2f'%minimum[1] }}</td>
                </tr>
                <tr>
                    <td>First Quartile</td>
                    <td>{{  '%.2f'%first_quartile[0] }}</td>
                    <td>{{  '%.2f'%first_quartile[1] }}</td>
                </tr>
                <tr>
                    <td>Median</td>
                    <td>{{  '%.2f'%median[0] }}</td>
                    <td>{{  '%.2f'%median[1] }}</td>
                </tr>
                <tr>
                    <td>Third Quartile</td>
                    <td>{{  '%.2f'%third_quartile[0] }}</td>
                    <td>{{  '%.2f'%third_quartile[1] }}</td>
                </tr>
                <tr>
                    <td>Maximum</td>
                    <td>{{  '%.2f'%maximum[0] }}</td>
                    <td>{{  '%.2f'%maximum[1] }}</td>
                </tr>
                <tr>
                    <td>Mean</td>
                    <td>{{  '%.2f'%mean[0] }}</td>
                    <td>{{  '%.2f'%mean[1] }}</td>
                </tr>
                <tr>
                    <td>Standard Deviation</td>
                    <td>{{  '%.2f'%std[0] }}</td>
                    <td>{{  '%.2f'%std[1] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="half">
        <div>
            <p><label>Boxplot of Times</label></p>
            <object data="{{ url_for('static', filename='image/results/times-boxplot.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>
        <div>
            <p><label>Boxplot of Costs</label></p>
            <object data="{{ url_for('static', filename='image/results/costs-boxplot.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>
    </div>

    <div>
        <p><label>Scatter of Costs x Times</label></p>
        <object data="{{ url_for('static', filename='image/results/scatter.png') }}" type="image/png">
            <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
        </object>
    </div>

    <div>
        <p><label>Data of Simulation</label></p>
        <div class="scroll">
            <table class="statistics-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Times(s)</th>
                        <th>Costs</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in costs %}
                    <tr>
                        <td>{{  loop.index }}</td>
                        <td>{{  '%.2f'%times[loop.index-1] }}</td>
                        <td>{{  '%.2f'%i }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="half">
        {% if type_of_problem =='vrp' %}

        <div>
            <p><label>Best Solution</label></p>
            <object data="{{ url_for('static', filename='image/results/route-best.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>

        <div>
            <p><label>Second Best Solution</label></p>
            <object data="{{ url_for('static', filename='image/results/route-second.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>

        {% else %}

        <div>
            <p><label>Best Solution</label></p>
            <object data="{{ url_for('static', filename='image/results/path-best.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>
        <div>
            <p><label>Second Best Solution</label></p>
            <object data="{{ url_for('static', filename='image/results/path-second.png') }}" type="image/png">
                <img class="fail" src="{{ url_for('static', filename='image/fail.png') }}">
            </object>
        </div>

        {% endif %}
    </div>

        {% else %}
            {% if simulation_status|length > 0 %}

        <div>
            <p><label>{{ simulation_status[0][0] }} = {{ simulation_status[0][1] }}</label></p>
            <p><label>{{ simulation_status[1][0] }} = {{ simulation_status[1][1] }}</label></p>
            <p><label>{{ simulation_status[2][0] }} = {{ '%.2f'%simulation_status[2][1]|float }}</label></p>
            <p><label>{{ simulation_status[3][0] }} = {{ '%.1f'%simulation_status[3][1]|float }}</label></p>
            <progress value='{{ (simulation_status[1][1]|int/simulation_status[0][1]|int)*100 }}' max="100"></progress>
        </div>

            {% else %}

        <p><label>Calculating</label></p>

            {% endif %}
        {% endif %}
    {% endif %}
</body>

<head>
    <meta http-equiv="refresh" content="{{ update_time }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
</head>
{% endblock %}