/* style of navigator-bar (header) */
.navigator-bar{
    padding:35px;
    background-color: #3D444E;
}
.navigator-bar ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
.navigator-bar ul li {
    float: left;

}
.navigator-bar ul li a {
    transition:0.2s;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:30px;
}
.navigator-bar ul li a:hover {
    color: #87CEEB;

}
/* style of footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: white;
    color: #3D444E;
    text-align: center;
}
/* style of general messages alerts */
.alert {
  padding:20px 0px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  padding-right:10px;
}
.closebtn:hover {
  color: black;
}
/* general style of all pages */
body{
    margin: 0;
    font-family: Poppins-Regular;
    font-style: normal;
    background-color: #87CEEB;
}

label{
    font-size:35px;
    margin-right:25px;
}
select{
    font-size:25px;
}
input[type="number"]{
    width:200px;
    font-size:23px;
    text-align:center;
    border: none;
}
input[type="radio"]{
    transform: scale(2);
    background-color: #eee;
    cursor: pointer;
}
input[type="checkbox"]{
    transform: scale(3);
}
input[type="submit"]{
    float:right;
    background-color: #3D444E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

table{
    text-align:right;
    font-size:28px;

}
div{
    width:100%;
    float:left;
    padding:0px;
    margin:0px;
    text-align:center;
}
.half div{
    width:48%;
}
.third div{
    width:33%;
}